#first{
    background: green;
    font: black;
    border style: solid;
    border-color:black;
    border width:12px;
     margin left: 20; 
}
.second{
    background-color: greenyellow;
    font: black;
}